    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1 lighter">
                    <h2>GopherCon Dubai 2016</h2>
                    <p>Go also known as #golang is an open source project developed by a team at Google and many contributors from the open source community.Go makes it easy to build simple, reliable, and efficient software.
                    </p>
                    <p>Go conference (Gophercon) is an initiative brought to you in Dubai by SquareCircle Tech, Tech Ecosystem Development Company working to bridge the Code to Customer Gap in the MEA region, the Emerging Technology Trust (ETT), India. ETT is a nonprofit organization, established to organize and conduct technology conferences in India. It's current portfolio includes DeccanRuby Conf, DevOpsDays India, GopherCon India and RubyConf India together with The Go Language (#golang) and Google Developer Community in UAE and the Middle East region.</p>
                    <p>GopherCon Dubai 2016 in its first edition aims to build a successful platform for Go and open source developers in the UAE & ME region. GopherCon's have been very successful and taking place every year in Denver , USA and Bengaluru , India.</p>
            </div>
            <div class="col-lg-4 col-md-offset-1 col-sm-offset-4 vcenter">
              <img src="{{ '/img/go-logo-uae.png' }}" class="img-responsive" />
            </div>
        </div>
    </section>
