    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-xs-offset-3 col-sm-offset-4" style="margin-top:100px">
                      <img src="{{ '/img/gophercon-badge.png' }}" class="img-responsive hero-badge"/>
                      <a href="" class="block" style="font-size:20px">Tuesday, 23rd February 2016</a>
                      <a href="https://www.eventbrite.com/e/gophercon-dubai-2016-tickets-19951951825" class="btn btn-lg register-btn block">Register now</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
