    <!-- About Section -->
    <section id="speakers" class="container content-section text-left">

        <h2 class="text-center">Speakers</h2>

        <div class="row">
          {% for speaker in site.data.speakers %}
          <div class="col-sm-4 col-sm-offset-1 speaker">
            <div class="col-sm-6" style="margin-bottom: 30px">
              <img src="{% if speaker.image %}/img/speakers/{{ speaker.image }}{% else %}http://placehold.it/200x200{% endif %}" class="img-responsive img-circle">
            </div>
            <div class="col-sm-6" style="min-height: 300px">
              <div class="speaker-name">{{ speaker.name }}</div>
              <a class="speaker-social" href="{{ speaker.social_url }}">{{ speaker.social }}</a>
              <div class="speaker-bio">{{ speaker.bio }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
    </section>
