    <!-- About Section -->
    <section id="sponsors" class="container content-section text-left">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-5 sponsor-card partners">
              <h2>PARTNERS</h2>
              <div>
                <h4 class="light">STRATEGIC INNOVATION PARTNER</h4>

                <a href="http://dmcc.ae" target="_blank" class="partner-logo-1">
                  <img src=" {{ '/img/sponsors/dmcc.png' }}" class="img-responsive" />
                </a>
              </div>

              <div>
                <h4 class="light">KNOWLEDGE PARTNER</h4>
                <a href="http://gophercon.in" target="_blank"  class="partner-logo-2">
                  <img src=" {{ '/img/sponsors/ett.png' }}" class="img-responsive col-sm-4 vcenter" />
                </a>
              </div>

              <div>
                <h4 class="light">ECOSYSTEM PARTNERS</h4>
                <a href="https://plus.google.com/+GdgdubaiDXB" target="_blank">
                  <img src=" {{ '/img/sponsors/gdg.png' }}" class="img-responsive col-sm-4 vcenter" />
                </a>
                <a href="https://orixcom.com" target="_blank">
                  <img src=" {{ '/img/sponsors/orixcom.png' }}" class="img-responsive col-sm-4 vcenter" />
                </a>
              </div>

              <div>
                <h4 class="light" style="margin-top:50px;">MEDIA PARTNERS</h4>
                <a href="http://wamda.com" target="_blank">
                  <img src=" {{ '/img/sponsors/wamda.png' }}" class="img-responsive col-sm-4 vcenter" />
                </a>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 sponsor-card sponsors">
              <h2>SPONSORS</h2>
              
              <!-- <h4 class="light">PLATINUM</h4> -->
              <a href="http://qwinixtech.com" target="_blank" class="block">
                <img src=" {{ '/img/sponsors/qwinix.png' }}" class="img-responsive col-sm-5 vcenter" />
              </a>
              
              <a href="http://google.com" class="hide" target="_blank">
                <img src=" {{ '/img/sponsors/google.png' }}" class="img-responsive col-sm-5 vcenter" />
              </a>

              <a href="http://astrolabs.com" target="_blank"  class="block" style="margin-top:30px;margin-bottom:50px;">
                <img src=" {{ '/img/sponsors/astrolabs.png' }}" class="img-responsive col-sm-5 vcenter" />
              </a>

              <h4 class="light">ORGANISED BY</h4>
              <a href="http://www.squarecircletech.com/" target="_blank">
                <img src=" {{ '/img/sponsors/squarecircle.png' }}" class="img-responsive col-sm-4 vcenter" />
              </a>
            </div>
          </div>
          <div class="sponsorship col-sm-12 text-center">
              <h3>Become a sponsor.</h3>
              <p>Support the community while promoting your organization to 1,000+ developers.</p>
              <a href="{{ '/assets/Sponsorship-Prospectus.pdf' }}"  class="btn btn-lg bordered-btn black-btn">Sponsorship Prospectus</a>
          </div>
        </div>
    </section>
