    <!-- About Section -->
    <section id="sponsors" class="container content-section text-left">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-5 sponsor-card partners">
              <h2>PARTNERS</h2>
              <h4 class="light">STRATEGIC INNOVATION PARTNERS</h4>
              <a href="http://dmcc.ae" target="_blank">
                <img src=" {{ '/img/sponsors/dmcc.png' }}" class="img-responsive col-sm-8 col-sm-offset-2" />
              </a>
            </div>
            <div class="col-sm-5 col-sm-offset-1 sponsor-card sponsors">
              <h2>SPONSORS</h2>
              <h4 class="light">PLATINUM</h4>
              <a href="http://qwinixtech.com" target="_blank">
                <img src=" {{ '/img/sponsors/qwinix.png' }}" class="img-responsive col-sm-4 vcenter" />
              </a>
              <a href="http://google.com" target="_blank">
                <img src=" {{ '/img/sponsors/google.png' }}" class="img-responsive col-sm-4 vcenter" />
              </a>
              <hr class="transparent-border">
              <h4 class="light">ECOSYSTEM</h4>
              <a href="http://astrolabs.com" target="_blank">
                <img src=" {{ '/img/sponsors/astrolabs.png' }}" class="img-responsive col-sm-4 vcenter" />
              </a>
            </div>
          </div>
        </div>
    </section>
