    <!-- Contact Section -->
    <section id="workshop" class="container full-width text-left lighter">
        <div class="row">
            <div class="col-lg-8">
              <h2>GoLang Workshop in Dubai</h2>
              <h5>By William Kennedy</h5>
              <p>GopherCon Dubai 2016 is proud to work with Ardan Labs to bring to you a full day of the Hardcore Go workshop on <b>Monday, 22nd Feb. 2016</b>, a day before the actual GopherCon Dubai Conference.</p>

              <p>This is a 1 day class for any level developer who has some experience with other programming languages and wants to learn Go. This class provides an intensive and idiomatic view of the language. We focus on both the specification and implementation of the language, including topics ranging from language syntax, Go's type system, concurrency, channels and more. We believe this class is perfect for anyone who wants a jump start in learning Go or who wants a more thorough understanding of the language and its internals. We would love to have you attend this paid workshop. Lunch and snacks will be provided.</p>
              
              <a class="btn btn-primary btn-large" href="https://www.eventbrite.com/e/go-workshop-by-william-kennedy-golang-expert-ardan-labs-tickets-19999096837">SIGN UP for the Workshop</a>

            </div>
            <div class="col-lg-4">
              <img src=" {{ '/img/workshop/william.jpg' }}" class="img-responsive" />
            </div>
        </div>
    </section>
